<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
<br />
<br />
<br />


<section id="designcostum" class="designcostum section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-12 order-1 order-lg-1 text-center">
                <img src="~/assets/img/Mate-Kostum-tasarım-main.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content text-center">
                <h3>Kostüm Kiralama – Stilize Dans, Salsa ve Roman Kıyafetleri</h3>
                <p class="fst-italic">
                    Mate Kostüm olarak kiralık stilize dans, salsa, çiftetelli, ve roman kıyafetleri stoklarımızda bulunmaktadır. Kostümlerimizi Türkiye’nin her iline kargo ile göndermekteyiz. Kostümlerimiz 30 yılı aşan Mate Kostüm tecrübesiyle profesyonel bir şekilde üretilmiştir ve yüksek kalitededir. Stilize dans veya roman kıyafeti satın almak istiyorsanız siparişe özel olarak üretim de yapmaktayız. Kostüm siparişleriniz ve rezervasyon işlemleriniz için bize 0212 549 77 34 üzerinden ya da web sitemizin iletişim sayfasında bulunan diğer iletişim kanallarımızdan ulaşabilirsiniz ve kostüm görsellerini aşağıda bulunan fotoğraflardan inceleyebilirsiniz.
                </p>
            </div>
        </div>

    </div>

</section>