<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
<br />
<br />
<br />


<section id="designcostum" class="designcostum section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-12 order-1 order-lg-1 text-center">
                <img src="~/assets/img/Mate-Kostum-tasarım-main.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content text-center">
                <h3>Kiralık Halk Oyunları Kıyafetleri – Yöresel Kıyafetler</h3>
                <p class="fst-italic">
                    Mate Kostüm olarak kiralık halk oyunları kıyafetleri stoklarımızda anaokulu boyutlarından yetişkin kostümlerine kadar bir çok halk oyunları kostümünü bulundurmaktayız. 23 Nisan, 19 Mayıs, ve 29 Ekim gibi milli bayramlarımızda ve özel organizasyonlarda kullanabileceğiniz bir çok kiralık yöresel kıyafeti stoklarımızda bulunduruyoruz ve tüm Türkiye’ye kargo ile gönderiyoruz. Yörelere özel olarak Trakya yöresinden Edirne, Silivri, Kırklareli ve Tekirdağ kiralık kostümlerini, Karadeniz yöresinden Artvin, Giresun ve Trabzon horon kıyafetlerini, Ege yöresinden Efe – Zeybek kıyafetlerini ve Türkiye’nin her bölgesinden onlarca çeşit kiralık yöresel kıyafeti stoklarımızda bulabilirsiniz. Elimizdeki kiralık yöresel kostümler ile ilgili bilgi almak için bize 0212 549 77 34 aracılığıyla ya da web sitemizin iletişim sayfasında bulunan diğer iletişim kanallarımız üzerinden ulaşabilirsiniz ve örnek kiralık kostümleri aşağıda bulunan fotoğraflardan inceleyebilirsiniz. Halk oyunları kıyafetleri fiyatlarını öğrenmek için ve kostüm kiralama fiyatları hakkında bilgi almak için bizi arayın. Halk oyunları kıyafetlerinden farklı kiralık kostüm çeşitlerimize göz atmak isterseniz, yukarıda bulunan kostüm kiralama butonu aracılığıyla diğer gösteri kostümlerimizi inceleyebilirsiniz.
                </p>
            </div>
        </div>
    </div>

    @*Buttom Table*@

    <div class="product-container"
	<!-- İlk Ürün Kartı -->
		@await Component.InvokeAsync("ProductKiralıkHalkoyun")
		
    </div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

</section>





