<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
<br />
<br />
<br />


<section id="designcostum" class="designcostum section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-12 order-1 order-lg-1 text-center">
                <img src="~/assets/img/Mate-Kostum-tasarım-main.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content text-center">
                <h3>Kiralık Kına Kıyafetleri</h3>
                <p class="fst-italic">
                    Mate Kostüm olarak kına kıyafeti kiralama hizmeti sunuyoruz ve elimizde birçok kiralık bindallı, kaftan ve kına kıyafeti bulunduruyoruz. Farklı renk ve tasarımlara sahip kiralık kına kıyafetlerimize aşağıda bulunan fotoğraflar aracılığı ile göz atabilirsiniz. Kiralık kaftanlarımız iç elbisesi, kaftan ve kemer olarak üç parçadan oluşmaktadır ve işlemeler ile donatılmıştır. Kiralık kına kıyafetlerimizi kendi gözlerinizle görmek ve prova etmek isterseniz mağazamızı arayıp randevu oluşturabilirsiniz ve bindallı kiralama fiyatları hakkında bilgi almak isterseniz de bize 0212 549 77 34 üzerinden veya web sitemizin iletişim sayfasında bulunan diğer numaralar ve sosyal medya hesapları aracılığı ile ulaşabilirsiniz.                                    
                </p>
            </div>
        </div>

    </div>

</section>