 <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
<br />
<br />
<br />


<section id="designcostum" class="designcostum section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-12 order-1 order-lg-1 text-center">
                <img src="~/assets/img/Mate-Kostum-tasarım-main.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content text-center">
                <h3>Kiralık Yıl Sonu Gösteri Kıyafetleri – Asker Kıyafeti Kiralama – Çanakkale Askeri Kıyafeti</h3>
                <p class="fst-italic">
                    Mate Kostüm olarak elimizde bir çok kiralık asker kıyafeti, rond, tören, yıl sonu gösteri kıyafeti ve mezuniyet cübbesi bulundurmaktayız. Palyaço ve hayvan kostümü kiralamadan, asker kostümü kiralamaya kadar birçok kostüm çeşidinin kiralama ve satışını yapıyoruz ve tüm Türkiye’ye kargo ile yolluyoruz. Kiralık palyaço kostümünden,18 Mart Çanakkale Zaferi organizasyonlarında kullanabileceğiniz Çanakkale askeri kıyafeti, çocuk asker kıyafeti ve modern asker kıyafetlerine kadar bir çok kiralık gösteri ve tören kostümünü listemizde bulabilirsiniz. Gösteri ve tören kostümleri dışında mezuniyet cübbesi kiralama ve satışı da yapmaktayız. Mezuniyet cübbelerini okulunuza özel olarak istediğiniz tasarım ve boyutlarda üretebilmekteyiz. Mezuniyet cübbesi, gösteri ve tören kostümü örneklerimiz aşağıdadır. Kep cübbe fiyatlarını ve gösteri kostümü kiralama fiyatlarını öğrenmek için bizi 0212 549 77 34 üzerinden arayabilir ya da web sitemizin iletişim sayfasında bulunan diğer iletişim kanallarından bize ulaşabilirsiniz. Aradığınız kostümü bu sayfada bulamadıysanız, yukarıda bulunan kostüm kiralama butonu aracılığıyla diğer kostüm çeşitlerimizi inceleyebilirsiniz.
                </p>
            </div>
        </div>

    </div>
    @*Buttom Table*@

    <div class="product-container">
        <!-- İlk Ürün Kartı -->
        @await Component.InvokeAsync("ProductKiralıkRond")

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />




</section>