<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
<br />
<br />
<br />


<section id="designcostum" class="designcostum section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-12 order-1 order-lg-1 text-center">
                <img src="~/assets/img/Mate-Kostum-tasarım-main.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content text-center">
                <h3>Yöresel Kıyafet Satış – 23 Nisan Kıyafetleri Kiralama ve Satış</h3>
                <p class="fst-italic">
                    Yöresel kıyafetler bizim uzmanlık alanımız! Mate Kostüm olarak Türkiye’nin her yöresinden halk oyunları kostümlerinin imalat, satış ve kiralamasını yapıyoruz. Sektörde 30 yılı aşan tecrübemiz ile, yöresel kıyafetleri istediğiniz ölçü, renk, dizayn ve en yüksek kalite işçilik ile üretiyoruz. Akdeniz, Ege, Doğu Anadolu, Güneydoğu Anadolu, İç Anadolu, Kafkas, Marmara, Trakya ve Karadeniz yöresel kıyafetlerinin tamamını üretme kabiliyetine sahibiz.  Ürettiğimiz kostümlerin örnekleri aşağıdadır. Geleneksel kıyafetlerimiz çocuk yaş gruplarından yetişkin boyutlarına kadar her bedende bulunmaktadır ve 23 Nisan, 19 Mayıs, 29 Ekim gibi milli bayramlarımızda kiralamaya uygundur. Türkiye’nin tüm illerine kargo aracılığıyla kostüm göndermekteyiz. Özel yöresel kıyafet siparişleriniz için bize 0212 549 77 34 üzerinden veya web sitemizin iletişim sayfasında bulunan diğer iletişim adreslerimizden ulaşabilirsiniz. Yöresel kıyafet satış fiyatlarını öğrenmek için bizi arayın. Ayrıca, yöresel kıyafetler haricinde farklı 23 Nisan kostümlerimiz de stoklarımızda mevcuttur. Diğer gösteri kostümlerimizi görmek isterseniz de yukarıda bulunan kostüm kiralama butonu aracılığıyla diğer sayfalarımıza göz atabilirsiniz.
                </p>
            </div>
        </div>

    </div>

    @*Buttom Table*@

    <div class="product-container">
        <!-- İlk Ürün Kartı -->
        @await Component.InvokeAsync("ProductSatılıkHalkoyun")

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</section>