@using Mate.MVC.Models.VMs
@model AddToBasketVM

<form asp-action="AddToBasket" asp-controller="Basket" method="post">
	<input type="hidden" asp-for="ProductId" />

	@await Component.InvokeAsync("SizeOptions", new { productId = Model.ProductId })
	<div class="quantity-single-product">
		<button type="button" onclick="decreaseValue()">-</button>
		<input asp-for="Amount" id="amountInput" type="number" min="1" max="20" value="1" readonly>
		<button type="button" onclick="increaseValue()">+</button>
	</div>

	<div class="actions-single-product">
		
		<button type="submit" class="add-to-cart-single-product">Sepete Ekle</button>
		<button type="submit" class="buy-now-single-product">Satın Al</button>

	</div>
</form>