<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Mate Kostüm</title>
	<link rel="shortcut icon" type="image/jpg" href="~/assets/img/favicon.jpg" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Mate.MVC.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<partial name="_Navbar" />

	</header>



	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer id="footer" class="footer dark-background">
		<div class="container">

			<div class="social-links d-flex mt-4">

				<a href="https://www.facebook.com/mate.kostum/?locale=tr_TR" target="_blank"><i class="bi bi-facebook"></i></a>
				<a href="https://www.instagram.com/matekostum/?hl=en" target="_blank"><i class="bi bi-instagram"></i></a>

			</div>
			<div class="credits text-center">
				<p id="footer-info">Copyright © 2024 <a href="https://www.matekostum.com.tr/" rel="home">Mate Kostüm</a>&nbsp;|&nbsp;<em><a>İdil Erdoğan & Tuba Bakan Tursun</a></em></p>
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	@await Component.InvokeAsync("Notyf")
</body>

</html>

