@model List<Product>

@foreach (var item in Model.OrderByDescending(p => p.Id))
{
    if (item.ProductCategoryId == "2halkoyun" && item.IsSale == true && item.IsAdult == false)
    {
        <h4>@item.ProductName</h4>
        <h1>Bu Ürünü Satın Alma Bedeli</h1>
        <p class="price"><span>@item.UnitPriceForRent TL</span></p>

    }

}