@model List<Product>

@foreach (var item in Model.OrderByDescending(p => p.IsAdult==false))
{
    if (item.ProductCategoryId=="2halkoyun" && item.IsSale==false)
    {

		<a href="@Url.Action("CostumInfo", "Costum", new { id = item.Id })" class="img-prod">
			<div class="product-card">
				<div class="product-image-wrapper">
					<img src="@Url.Content(item.PhotoPath)" alt="">
				</div>

				@if (item.IsAdult==false)
				{
					<div class="product-category-age">Çocuk</div>
				}
				else
				{
					<div class="product-category-age">Yetişkin</div>
				}
				
				
				<div class="product-title">@item.ProductName</div>
				<div class="product-price">
					<p>Kiralama Bedeli</p>
					<span>@item.UnitPriceForRent TL</span>
				</div>
			</div>
		</a>

	}


}

