@using Mate.MVC.Areas.Admin.Models_VMs
@model ProductEditAdminVM

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
<br />
<br />
<br />


<section id="designcostum" class="designcostum section">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-12 order-1 order-lg-1 text-center">
                <img src="~/assets/img/Mate-Kostum-tasarım-main.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content text-center">
                <h3>Ürünler</h3>

            </div>
        </div>
    </div>

    @*Tables*@

    <br />
    <br />

    <h2>Yeni Ürün Ekle</h2>

    <form asp-action="ProductInsert" enctype="multipart/form-data" method="post">
        <input asp-for="Id" type="hidden" />
        <input type="hidden" asp-for="ProductCategoryId" />
        <input type="hidden" asp-for="ProductRegionId" />
        <input type="hidden" asp-for="ProductSubRegionId" />
        <div>
            <label asp-for="ProductName">Ürün Adı*</label>
            <input asp-for="ProductName" class="form-control" />
        </div>
        <div>
            <label asp-for="Description">Özellikleri</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="SelectedCategoryId">Kategori*</label>
            <select asp-for="SelectedCategoryId" asp-items="Model.CategorySelectList" class="form-control">
                <option value="">Kategori Seçiniz</option>
            </select>


        </div>

        <div class="form-group">
            <label for="SelectedRegionId">Bölge</label>
            <select asp-for="SelectedRegionId" asp-items="Model.RegionSelectList" class="form-control">
                <option value="">Bölge Seçiniz</option>
            </select>
        </div>
        <div class="form-group">
            <label for="SelectedSubRegionId">Yöre</label>
            <select asp-for="SelectedSubRegionId" asp-items="Model.SubRegionSelectList" class="form-control">
                <option value="">Yöre Seçiniz</option>
            </select>
        </div>
        <div>
            <label asp-for="UnitPriceForSale">Eğer Satılık ise Satış Fiyatını Giriniz</label>
            <input asp-for="UnitPriceForSale" class="form-control" />
        </div>
        <div>
            <label asp-for="UnitPriceForRent">Eğer Kiralık ise Kiralama Fiyatını Giriniz</label>
            <input asp-for="UnitPriceForRent" class="form-control" />
        </div>
        <div>
            <label asp-for="IsSale">Satılık Ürün İse Lütfen İşaretleyiniz</label>
            <input asp-for="IsSale" type="checkbox" />
        </div>
        <div>
            <label asp-for="IsAdult">Yaş Grubu*</label>
            <select asp-for="IsAdult" class="form-control">
                <option value="">Yaş Grubunu Seçiniz</option>
                <option value="true">Yetişkin</option>
                <option value="false">Çocuk</option>
            </select>
        </div>
        <div>
            <label asp-for="Gender">Cinsiyet</label>
            <select asp-for="Gender" class="form-control">
                <option value="">Cinsiyet Seçiniz</option>
                <option value="true">Kadın</option>
                <option value="false">Erkek</option>
            </select>
        </div>



        <div class="form-group">
            <label for="SelectedSizes">Beden ve Miktar</label>
            <div id="SizesContainer">
                @for (int i = 0; i < Model.SelectedSizes.Count; i++)
                {
                    <div class="input-group mb-2">
                        <!-- Dropdown: SizeId (string) -->
                        <select asp-for="SelectedSizes[@i].SizeId" class="form-control" asp-items="Model.SizeOptions">
                            <option value="">Beden Seçiniz</option>
                        </select>
                        <!-- Input: SizeAmount -->
                        <input asp-for="SelectedSizes[@i].SizeAmount" class="form-control" placeholder="Miktar" />
                        <!-- Hidden Input: SizeNumber (Optional, otomatik atanabilir) -->
                        <input asp-for="SelectedSizes[@i].SizeNumber" type="hidden" />
                    </div>
                }
            </div>

            <button type="button" id="addSize" class="buy-now-single-product">Beden Ekle</button>
        </div>

        @*burası dışarıdan alınma*@
        <script>
            document.getElementById('addSize').addEventListener('click', function () {
                var container = document.getElementById('SizesContainer');
                var index = container.querySelectorAll('.input-group').length;

                var template = `
                    <div class="input-group mb-2">
                        <select name="SelectedSizes[${index}].SizeId" class="form-control">
                            <option value="">Beden Seçiniz</option>
            @foreach (var item in Model.SizeOptions)
            {
                                        <option value="@item.Value">@item.Text</option>
            }
                        </select>
                        <input name="SelectedSizes[${index}].SizeAmount" class="form-control" placeholder="Miktar" />
                    </div>
                `;
                container.insertAdjacentHTML('beforeend', template);
            });
        </script>

        <div class="row">
            <div class="col-2">
                <label asp-for=Picture>Fotoğraf*</label>
            </div>
            <div class="col-6">
                <input asp-for=Picture type="file" accept="image/png, image/jpeg" />
            </div>
            <div class="col-4">
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>
        <div class="product-image-single-product">
            <img src="@Url.Content(Model.PhotoPath)" alt="">
        </div>

        <button type="submit" class="buy-now-single-product">Kaydet</button>
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>

