@model List<FotoGalery>

@foreach (var item in Model.OrderByDescending(p => p.Id))
{


	<a href="@Url.Content(item.PhotoPath)" class="img-prod">
		<div class="product-galery-page-card">
			<div class="product-galery-page-image-wrapper">
				<img src="@Url.Content(item.PhotoPath)" alt="">
			</div>
		</div>
	</a>


}
