@model Product



  
		@if (Model.IsSale == true)
			{
				
				<p>Satış Fiyatı: @Model.UnitPriceForSale TL</p>
			}
			else
			{
				
				<p>Kiralama Fiyatı: @Model.UnitPriceForRent TL</p>
			}
		</div>
		@if (@Model.IsAdult == true)
		{
			<p>Kategori: Yetişkin</p>
		}
		else
		{
			<p>Kategori: Çocuk</p>
		}
        
    


