<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />

<section id="about" class="about section">

	<div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

		<div class="row gy-4">
			<div class="col-lg-6 order-2 order-lg-2">
				<img src="~/assets/img/abdullah_dogan_ekmekcioglu.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-llg-6 order-2 order-lg-1 title">
				<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
					<div class="et_pb_row et_pb_row_0">
						<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
							<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
								<div class="et_pb_text_inner">
									<br />
									<br />
									<br />
									<h1>Mate Kostüm</h1>
								</div>
							</div>
								<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
								<div class="et_pb_text_inner"><p>Halk Oyunları ve Gösteri Kostümleri<br>İmalat Satış ve Kiralama</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 order-2 order-lg-1 content">
				<p class="fst-italic">
					Firmamızın ilk çalışmaları 1952 yılında Abdullah EKMEKÇİOĞLU tarafından Gaziantep’te bir terzi atölyesinde başlamıştır.

					1968 yılında İstanbul Beyoğlu’na taşınan terzi atölyemiz, 1982 yılına kadar devam etmiştir.

					İsmail EKMEKCİOĞLU 1984-1985 yıllarında başladığı Folklor Kurumu ve İTÜ Halk Oyunları bölümündeki eğitimleri ile baba mesleği olan terziliği sentezleyerek Halk Oyunları Kostümleri imalatına başlamıştır.

					Yörelerinde tükenmekte olan geleneksel giysilerin model ve kalıplarını çıkararak bu konudaki ilk sistematik çalışmaları yapmıştır.

					Aynı zamanda Türkiye’de ilk kurumsal halk oyunları kostüm kiralama işini başlatmıştır.

					1994 yılında Ergun EKMEKÇİOĞLU ile birlikte MATE KOSTÜM şirketini kurarak daha kurumsal boyutta çalışmalarına devam etmiştir.

					Mate Kostüm; yöresel kıyafetlerin yanı sıra dönem, stilize dans, tören, rond, ve animasyon kostümleri gibi gösteri kostümleri de yaparak sektörde marka olmuştur.

					Atölyemizde kişiye özel imalat yapılmaktadır.

					Kostümler 1.sınıf malzeme ve işçilikte olup 5 yıl garantilidir.

					Zamanında teslimat ve müşteri memnuniyeti ilkemizdir.

					Her yaş ve yöreden kiralık kostümler elimizde mevcut olup kostüm kiralama hizmeti de vermekteyiz.
				</p>
				<br/>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br/>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br/>
				<br />
				<br />

				<br />
				<br />

				<br />
				<br />

				<br />

			</div>
		</div>

	</div>

</section>