<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Mate Kostüm</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Favicons -->
	<link href="assets/img/cropped-mate_favicon-270x270.jpg" rel="icon">
	<link href="assets/img/cropped-mate_favicon-270x270.jpg" rel="apple-touch-icon">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

	<!-- Main CSS File -->
	<link href="assets/css/main.css" rel="stylesheet">

	<!-- =======================================================
	* Template Name: Gp
	* Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
	* Updated: Aug 15 2024 with Bootstrap v5.3.3
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
</head>

<body class="index-page">
	<partial name="_Navbar" />
	<main class="main">

		<!-- Hero Section -->
		<section id="hero" class="hero section dark-background">

			<img src="~/assets/img/ana-sayfa-tam.jpg" alt="" data-aos="fade-out">

			<div class="container">
				<div class="container">
					<div class="image-container-hero">
						<img src="~/assets/img/anasayfa-icon.png" alt="Logoboi" class="logoboi-red" style="max-width: 70px;">
					</div>
					
				</div>
				<div class="text-center">
					<p class="fst-italic">1952'den beri</p>
				</div>

				<div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="150">
					<div class="col-xl-6 col-lg-8">
						<br />
						<h2>Mate Kostüm</h2>
						@* <p class="fst-italic">1952'den beri</p> *@
						<br />
						<br />
						<br />

						<h3>
							Halk Oyunları, Gösteri ve Kına Kıyafetleri
							İmalat, Satış ve Kiralama
						</h3>
					</div>
				</div>

				<div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
					<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
						<div class="icon-box">
							<i class="bi bi-person-arms-up"></i>
							<h3><a asp-area="" asp-controller="Home" asp-action="Hakkımızda">Hakkımızda</a></h3>
						</div>
					</div>
					<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
						<div class="icon-box">
							<i class="bi bi-bullseye"></i>
							<h3><a asp-area="" asp-controller="Costum" asp-action="ProductKiralık">Kostüm Kiralama</a></h3>
						</div>
					</div>
					<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
						<div class="icon-box">
							<i class="bi bi-bag-fill"></i>
							<h3><a asp-area="" asp-controller="Costum" asp-action="ProductSatılık">Kostüm Satış</a></h3>
						</div>
					</div>
					<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
						<div class="icon-box">
							<i class="bi bi-image"></i>
							<h3><a asp-area="" asp-controller="Home" asp-action="Galeri">Galeri</a></h3>
						</div>
					</div>

				</div>

			</div>



	</main>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<!-- Scroll Top -->
	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Preloader -->
	<div id="preloader"></div>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>
	<script src="assets/vendor/aos/aos.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.js"></script>

</body>

</html>