<link rel="stylesheet" href="~/css/Mate.css" />

<div id="et-main-area">
	<div id="main-content">
		<article id="post-177" class="post-177 page type-page status-publish hentry">
			<div class="entry-content">
				<div class="et-l et-l--post">
					<div class="et_builder_inner_content et_pb_gutters3">
						<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_0">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
										<div class="et_pb_text_inner"><h1>Mate Kostüm</h1></div>
									</div><div class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_light et_multi_view__hover_selector">
										<div class="et_pb_text_inner" data-et-multi-view="{&quot;schema&quot;:{&quot;content&quot;:{&quot;desktop&quot;:&quot;<p>\u0130leti\u015fim Bilgileri<\/p>&quot;,&quot;tablet&quot;:&quot;<p>Halk Oyunlar\u0131 ve G\u00f6steri Kost\u00fcmleri<\/p>&quot;,&quot;phone&quot;:&quot;<p>\u0130leti\u015fim Bilgileri<\/p>&quot;}},&quot;slug&quot;:&quot;et_pb_text&quot;}" data-et-multi-view-load-tablet-hidden="true"><p>İletişim Bilgileri</p></div>
									</div>
								</div>
							</div>
						</div><div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
							<div class="et_pb_row et_pb_row_1 et_pb_row_fullwidth">
								<div class="et_pb_column et_pb_column_1_3 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
									<div class="et_pb_module et_pb_image et_pb_image_0">
										<span class="et_pb_image_wrap "><img loading="lazy" decoding="async" width="200" height="38" src="https://www.matekostum.com.tr/wp-content/uploads/2019/02/mate_yeni_logo.png" alt="" title="" class="wp-image-1035"></span>
									</div><div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"></span></span></div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Telefonlarımız</span></h4>
												<div class="et_pb_blurb_description"><p>0212 549 77 34</p></div>
											</div>
										</div>
									</div><div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"></span></span></div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Gsm</span></h4>
												<div class="et_pb_blurb_description">
													<p>Kiralama WhatsApp İletişim Hattı</p>
													<p>0530 909 11 34 – Erdem</p>
													<p>İmalat</p>
													<p>0532 321 64 97 – İsmail<br>0532 267 23 86 – Ergun</p>
												</div>
											</div>
										</div>
									</div>
										<div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
											<div class="et_pb_blurb_content">
												<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"></span></span></div>
													<div class="et_pb_blurb_container">
														<h4 class="et_pb_module_header"><span>Eposta</span></h4>
													<div class="et_pb_blurb_description"><p><a href="mailto:maitto:matekostum@gmail.com"><span>matekostum@gmail.com</span></a></p></div>
												</div>
											</div>
									</div>
									<div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated">}</span></span></div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Çalışma Saatlerimiz</span></h4>
												<div class="et_pb_blurb_description">
													<p>Hafta içi: 09:00 – 17:30</p>
													<p>Cumartesi: 09:00 – 13:00</p>
												</div>
											</div>
										</div>
									</div><div class="et_pb_module et_pb_blurb et_pb_blurb_4 et_clickable  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image"><a href="https://www.facebook.com/mate.kostum/"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"></span></span></a></div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><a href="https://www.facebook.com/mate.kostum/">Facebook</a></h4>
												<div class="et_pb_blurb_description"><p><a href="https://www.facebook.com/mate.kostum/" target="_blank" rel="noopener noreferrer">facebook.com/mate.kostum</a></p></div>
											</div>
										</div>
									</div><div class="et_pb_module et_pb_blurb et_pb_blurb_5 et_clickable  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image"><a href="https://www.instagram.com/matekostum"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon"></span></span></a></div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><a href="https://www.instagram.com/matekostum">Instagram</a></h4>
												<div class="et_pb_blurb_description"><p><a href="https://www.instagram.com/matekostum" target="_blank" rel="noopener noreferrer">instagram.com/matekostum</a></p></div>
											</div>
										</div>
									</div>
								</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div class="et_pb_module et_pb_image et_pb_image_1">
										<a href="https://goo.gl/maps/bEoPZBtGfYifDCbc6" target="_blank"><span class="et_pb_image_wrap "><img fetchpriority="high" decoding="async" width="720" height="397" src="https://www.matekostum.com.tr/wp-content/uploads/2022/07/haritason.jpg" alt="" title="haritason" srcset="https://www.matekostum.com.tr/wp-content/uploads/2022/07/haritason.jpg 720w, https://www.matekostum.com.tr/wp-content/uploads/2022/07/haritason-480x265.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 720px, 100vw" class="wp-image-1766"></span></a>
									</div><div class="et_pb_module et_pb_blurb et_pb_blurb_6 et_animated  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light" data-animation-style="foldLeft" data-animation-repeat="" data-animation-duration="1000ms" data-animation-delay="0ms" data-animation-intensity="20%" data-animation-starting-opacity="100%" data-animation-speed-curve="ease-in-out">
										<div class="et_pb_blurb_content">
											<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon"></span></span></div>
											<div class="et_pb_blurb_container">
												<h4 class="et_pb_module_header"><span>Adresimiz</span></h4>
												<div class="et_pb_blurb_description">
													<p style="font-weight: 400;">İ<span>kitelli Organize Sanayi Bölgesi</span><span>&nbsp;</span><span>Giyim Sanatkarları İş ve Ticaret Merkezi&nbsp;</span>(Deposite A.V.M.arkası) 4. Ada C Blok Kat:1 No:114<br>Başakşehir – İSTANBUL</p>
													<p style="font-weight: 400;"><strong>Metro ulaşım</strong><br>(Kirazlı-Metrokent hattı) İkitelli Sanayi Durağı</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><div class="et_pb_section et_pb_section_2 et_section_regular">
							<div class="et_pb_row et_pb_row_2">
								<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
									<div id="et_pb_contact_form_0" class="et_pb_module et_pb_contact_form_0 et_pb_contact_form_container clearfix" data-form_unique_num="0" data-form_unique_id="6bf29331-4054-41b8-ae37-fad9db70c9a5">
										<div class="et-pb-contact-message"></div>
										<div class="et_pb_contact">
											<form class="et_pb_contact_form clearfix" method="post" action="https://www.matekostum.com.tr/iletisim/">
												<p class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_half" data-id="name" data-type="input">
													<label for="et_pb_contact_name_0" class="et_pb_contact_form_label">İsim</label>
													<input type="text" id="et_pb_contact_name_0" class="input" value="" name="et_pb_contact_name_0" data-required_mark="required" data-field_type="input" data-original_id="name" placeholder="İsim">
												</p><p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half et_pb_contact_field_last" data-id="email" data-type="email">
													<label for="et_pb_contact_email_0" class="et_pb_contact_form_label">E-posta adresi</label>
													<input type="text" id="et_pb_contact_email_0" class="input" value="" name="et_pb_contact_email_0" data-required_mark="required" data-field_type="email" data-original_id="email" placeholder="E-posta adresi">
												</p><p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_last" data-id="message" data-type="text">
													<label for="et_pb_contact_message_0" class="et_pb_contact_form_label">Mesaj</label>
													<textarea name="et_pb_contact_message_0" id="et_pb_contact_message_0" class="et_pb_contact_message input" data-required_mark="required" data-field_type="text" data-original_id="message" placeholder="Mesaj"></textarea>
												</p>
												<input type="hidden" value="et_contact_proccess" name="et_pb_contactform_submit_0">
												<div class="et_contact_bottom_container">
													<button type="submit" name="et_builder_submit_button" class="et_pb_contact_submit et_pb_button">Gönder</button>
												</div>
												<input type="hidden" id="_wpnonce-et-pb-contact-form-submitted-0" name="_wpnonce-et-pb-contact-form-submitted-0" value="0f90122c12"><input type="hidden" name="_wp_http_referer" value="/iletisim/">
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>

<script src="~/js/Mate.js"></script>